body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.navbarScroll.navbarDark {
    background-color: black;
}

.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navbar-brand {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.navbar-expand-lg .navbar-collapse {
    margin-right: 100px;
}

.flag-img {
    max-width: 25px;
    margin-right: 5px;
}

.hero-header {
    background-image: url('images/carpentry2.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-header {
    color: #000;
    text-align: center;
}

.about-container {
    padding-top: 150px;
    margin-left: 20%;
    margin-right: 20%;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 100px;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 15%;
    margin-right: 15%;
}

.service-card {
    margin: 15px;
    border: 1px solid #ccc; 
    display: flex;
    flex-direction: column;
}

.service-card img {
    width: 100%;
}

.map {
    padding-right: 32px;
    height: 400px;
}

.contact-list {
    list-style-type: none;
}

.contact-text {
    font: 300 20px 'Roboto', sans-serif;
    letter-spacing: 1.9px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list-item {
    color: #aaa;
    margin-bottom: 30px;
}

.list-item i {
    display: flex;
    align-items: center;
}

.company {
    margin-left: 33px;
}
  
.place {
    margin-left: 45px;
}
  
.phone {
    margin-left: 36px;
}

.mail {
    margin-left: 36px;
}

.contact-text a {
    color: #000;
    text-decoration: none;
}

.contact-text a:hover {
    color: #bbb;
}

h1 {
    font-size: 3em;
    padding: 10px;
}

h2 {
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 2em;
}

h3 {
    padding: 15px;
    margin-bottom: 0;
    font-size: 1.5em;
}

h4 {
    padding: 20px;
    margin: 0;
    color: #fff;
    font-size: 1em;
}

p {
    font-size: 1em;
    padding: 20px;
}

.social-icons {
    padding-top: 15px;
    font-size: 36px;
}

.fa-facebook:hover {
    color: #008000;
}

.fab {
    color: #fff;
    cursor: pointer;
}

#footer {
    background-color: #000;
    text-align: center;
}

.text-container {
    width: 70%;
    padding-bottom: 100px;
}

.text-container h1 {
    text-align: center;
    font-size: 2.5em;
    padding-top: 50px;
}

.text-container h2 {
    padding-top: 20px;
    padding-bottom: 0px;
}

@media screen and (max-width: 768px) {

    .about-container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .services-container {
        grid-template-columns: 1fr;
        margin-left: 5%;
        margin-right: 5%;
    }

    .contact-container {
        grid-template-columns: 1fr;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
    }

    .navbar-brand {
        margin: 0;
    }

    ul {
        padding-left: 0px;
    }

    .map {
        padding-bottom: 20px;
        padding-right: 0px;
        height: 300px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1300px) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .services-container {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 10%;
        margin-right: 10%;
    }

    .about-container {
        margin-left: 15%;
        margin-right: 15%;
    }

    .contact-container {
        margin-left: 10%;
        margin-right: 10%;
    }
}