body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.navbarScroll.navbarDark {
    background-color: black;
}

.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.flag-img {
    max-width: 25px;
    margin-right: 10px;
}

.container {
    margin-left: 15%;
    margin-right: 15%;
}

.hero-header {
    background-image: url('images/carpentry2.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-header {
    color: #000;
    text-align: center;
    margin-top: 120px;
}

.about-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 100px;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 100px;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 15%;
    margin-right: 15%;
}

.service-card {
    margin: 15px;
    border: 1px solid #ccc; 
    height: fit;
    display: flex;
    flex-direction: column;
}

.service-card img, .service-card div.text {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.service-card div.text {
    flex-grow: 1;
    overflow: auto; 
}

.service-card p {
    margin-bottom: 0;
}

.map {
    padding-right: 32px;
    height: 400px;
}

.contact-list {
    list-style-type: none;
}

.list-item {
    line-height: 4;
    color: #aaa;
}

.contact-text {
    font: 300 18px 'Roboto', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
}

.company {
    margin-left: 33px;
}
  
.place {
    margin-left: 45px;
}
  
.phone {
    margin-left: 36px;
}

.mail {
    margin-left: 36px;
}

.contact-text a {
    color: #bbb;
    text-decoration: none;
}

.contact-text a:hover {
    color: #000;
}

h1 {
    font-size: 5em;
    margin: 0;
}

h2 {
    padding-top: 70px;
    padding-bottom: 40px;
    font-size: 2em;
}

h3 {
    padding: 15px;
    margin-bottom: 0;
    font-size: 1.5em;
    height: 87px;
}

h4 {
    padding: 15px;
    margin-bottom: 0;
    font-size: 1.5em;
}

p {
    font-size: 1em;
    padding: 15px;
    padding-top: 0;
}

.social-icons {
    padding: 15px;
    font-size: 36px;
}

.fa-facebook:hover,.fa-instagram:hover,.fa-linkedin:hover {
    color: #008000;
}

.fab {
    color: #fff;
    cursor: pointer;
}

#footer {
    background-color: #000;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .about-container {
        grid-template-columns: 1fr;
        margin-left: 5%;
        margin-right: 5%;
    }

    .about-container img {
        width: 70%;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .services-container {
        grid-template-columns: 1fr;
        margin-left: 5%;
        margin-right: 5%;
    }

    .contact-container {
        grid-template-columns: 1fr;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
    }

    ul {
        padding-left: 0px;
    }

    .map {
        padding-bottom: 20px;
        padding-right: 0px;
        height: 300px;
    }

    h1 {
        font-size: 3em;
        margin: 0;
    }
    
    h2 {
        padding-top: 70px;
        padding-bottom: 40px;
        font-size: 1.5em;
    }
    
    h3 {
        padding: 15px;
        margin-bottom: 0;
        font-size: 1.5em;
        height: 87px;
    }

    h4 {
        padding: 15px;
        margin-bottom: 0;
        font-size: 1em;
    }
}

@media screen and (min-width: 769px) and (max-width: 1300px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 10%;
        margin-right: 10%;
    }

    .about-container {
        margin-left: 15%;
        margin-right: 15%;
    }

    .contact-container {
        margin-left: 10%;
        margin-right: 10%;
    }
}